body{
  background-color: rgb(142, 172, 216);
}

.tela-azul{
      color:white;
    text-align: center;
    width: 600px;
    height: 800px;
      }
  
  p {
    text-align: left;
    font-size: 18px;

  }
  
